@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main{
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	font-family: 'Inter Tight', sans-serif;
	color: #fff;
	background: #333333;
}

.inner-main{
	margin-top: -35px;
	font-size: 22px;
	text-align: center;
}

.timer{
	font-size: 22px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px 20px;
}

.inner-main p{
	margin-bottom: 40px;
}
.details p{
	margin-bottom: 15px!important;
	font-size: 21px;
}

.inner-main a{
	font-size: 19px;
	color: #000;
	text-decoration: none;
	background: #Eeeeee;
	border: 2px solid #eee;
	border-radius: 25px;
	padding: 10px 33px;
	cursor: pointer;
	transition: .6s;
	
}

.inner-main a:hover{
	background: #333;
	color: #fff;
	border: 2px solid #Eeeeee;
}

.inner-main .vrs{
	user-select: none;
}

.que{
	display: none;
}

.qst{
	text-transform:capitalize;
}

.vrs{
	display: flex;
	gap: 25px;
}

.col1, .col2{
    min-width: max-content;
	flex: 0 0 calc(50% - (10px / 2) );
}

.one, .two, .three, .four{
	display: block;
	padding: 18px 175px!important;
/*	border-radius: 25px!important;*/
	text-overflow: clip;
}

.one, .three{
	margin-bottom: 12px;
}

.end{
	display: none;
}

.end .details{
	margin-bottom: 40px;
}